table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  tr {
    border-collapse: collapse;
text-align:center
  }
  
  #over-budget {
    color: red;
    text-align: center;
    font-size: 150%;
  }
h3 {
  text-align: center;
}
h1 {text-align: center
  ;}
  #monthlyamount {
    text-align: center;
    font-size: 200%;
  }
  